.logo{
    height: 50px;
}
nav a{
    float: left;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    
}
nav a:hover{
    background-color: aliceblue;
    color: #23232e;
    transition: 0.5;
}
nav a.ativo{
    background-color: aquamarine;
    color: #23232e;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #23232e;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
}

.invisivel{
    display: none;
}