.projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 500px;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.projetos h1{
    font-size: 40px;
}

.cards{
    width: 1000px;
    height: 500px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card{
    /* background-color: aliceblue; */
    padding: 50px;
    border: 2px solid aquamarine;
    border-radius: 20px;
    width: 240px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

#card1{
    filter: blur(2px);
    cursor: pointer;
    transition: filter 0.3s ease-in-out; 
    padding: 0;
    overflow: hidden;
}
#card1:hover{
    filter: none;
}

#card2{
    filter: blur(2px);
    cursor: pointer;
    transition: filter 0.3s ease-in-out; 
    padding: 0;
    overflow: hidden;
}
#card2:hover{

    filter: none;
}
#card3{
    filter: blur(2px);
    cursor: pointer;
    transition: filter 0.3s ease-in-out; 
    padding: 0;
    overflow: hidden;
}
#card3:hover{

    filter: none;
}
#card4{
    filter: blur(2px);
    cursor: pointer;
    transition: filter 0.3s ease-in-out; 
    padding: 0;
    overflow: hidden;
}
#card4:hover{

    filter: none;
}
