.sobre{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #23232e;
    color: white;
}
.sobre h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.sobre p{
    font-size: 20px;
}
.sobre img{
    height: 300px;
    border: 2px solid aquamarine;
    border-radius: 100px;
    margin-left: 50px;
}